body {
    background-image: url(R.png);
    background-repeat: no-repeat;
    background-position: right;
    color: black;
    font-family: "Afacad Flux", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: lightblue;
    color: black;
    font-family: "Afacad Flux", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
    background-color: steelblue;
    border: solid white;
    padding: 50px;
}

img {
    max-width: 400px;
    max-height: 300px;
    border: solid white;
}

p {
    border: solid 5px white;
    padding: 12px;
    background-color: lightsteelblue;
}
